/*
 * Phong Huynh - 810194340, hnhp0025
 * Web Application Development
 * Project Part 2
 */
 
/* THE CSS FILE */

*
{
    margin: 0;
    padding: 0;

}

/* Body */
body 
{	
	color: #181B20;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}

/* Links */
a 
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover 
{
    color: teal;
    text-decoration: none;
}

h1 
{
	color: teal;
	font-weight: 400;
	margin-left: 5px;
	text-transform: lowercase;
}

/* h2, h3 tags green and force lowercase */
h2, h3
{	
	color: teal;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
}

/* Container */
#container 
{
    border: 1px solid black;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/* Header */
#header 
{
	background: #3A3A3A;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
	width: 960px;
}

/* Menu */
#menu {
	width: 960px;
	height: 25px;
	margin: 0px auto;
	padding: 0px;
	background: #3A3A3A;
}

#menu li 
{
    float:left;
    list-style:none;
}

#menu a 
{
	color: #FFFFFF;
	height: 15px;
	margin-left: 5px;
	margin-right: 50px;
	padding: 5px;
	text-decoration: none;
}

#menu a:hover
{
	background: teal;
	text-decoration: none;
}


/* Content */
#content
{
	clear:both;
	margin: 0 auto;
	width: 960px;
}

/* left */
#left
{
	float: left;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 5px;
	width: 550px;
}

#left img
{
	border: 1px solid #021a40;
    float: right;
    padding: 1px;
    margin: 10px;
}

/* right */
#right
{
	float: right;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 5px;
	width: 360px;
}

/* Footer */
#footer 
{
	background: #3A3A3A;
	clear: both;
	height: 25px;
	padding: 5px;
}

/* SiteMap */
#sitemap
{
    float:right;
}

#sitemap a 
{
    color: White;
    text-decoration: underline;
}

#sitemap a:hover 
{
    color: teal;
    text-decoration: none;
}

/* Textbox */

.textbox 
{	
	border: 3px double #CCCCCC;
	font-family: Arial;
	font-size: 18px;
	margin-bottom: 2px;
	padding: 5px;
	width: 300px;
}

.textbox:focus
{
	background-color: #0489B1;
}

.orderbox
{
	font-family: Arial;
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 5px;
}

.orderbox:focus
{
	background-color: #0489B1;
}

/* Button */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */